<div class="card-container">
     <div *ngIf="!loading" class="card-container">
        <div class="card" tabindex="0">
            <div *ngFor="let item of nameDisplay" class="innercard item">
                <div class="innercard div">
                    <button type="button" class="button" (click)="pullDetail(item)">{{ item.name }}</button>
                </div>
                <div>
                </div>
            </div>
            <button [disabled]="!preP" type="button" class="btn btn-primary" (click)="prevPage()">Back</button>
            <button type="button" class="btn btn-primary btn-pnum">{{ currentPage }}</button>
            <button [disabled]="!nextP" type="button" class="btn btn-primary btn-right" (click)="nextPage()">Next</button>
        </div>
        <div class="card card-small" tabindex="0">
            <div *ngIf="!loading" class="detailcolumn">
                <div class="detailcard">
                    <div *ngFor="let item of detailDisplay | slice:0:8">
                        <h3>
                            {{ item[0] }}
                        </h3>
                        <p>
                            {{ item[1] }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <div *ngIf="loading" class="card-container">
        <div class="card" tabindex="0">
            <div class="loading">
                loading
            </div>
        </div>
     </div>
</div>