<div>
  <div class="toolbar backimg" role="banner">
    <span style="margin-bottom: 10px;">_INTERSTELLAR_DATABASE_</span>
  </div>
  
  <div class="content" role="main">

    <!-- Containers for category selections -->
  
    <div class="card-container">
      <a class="card people" routerLink="/peeps/people/">
        <span>People</span>  
      </a>
  
      <a class="card planet" routerLink="/rocks/planets/">
        <span>Planets</span>
      </a>
  
      <a class="card ship" routerLink="/vehicle/starships/">
        <span>StarShips</span>
      </a>

      <a class="card search" routerLink="search">
        
      </a>

    </div>
  
    <input type="hidden" #selection>
  
    
  </div>
</div>